.image--frame {
    margin: auto;
    width: 200px;
    
    border: 2px solid gray;
    text-align: center;



    border-radius: 5px;
}
.imagesection--container
{
    display: flex;
    direction: horizontal;
    justify-content: space-evenly;
}
.inputimage--container {
    
    
    width: 200;
}

.outputimage--container {
    display: flex;
    justify-content: space-around;
   
}

.hiddeninput {
    display: none;
    



}

