.image--frame {
    margin: auto;
    max-width: 250px;
    max-height: 250px;
    min-width: 200px;
    min-height: 200px;
    border: 2px solid gray;
    text-align: center;



    border-radius: 5px;
}

.inputimage--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Display contents in a vertical direction */
    justify-content: center;
    /* Horizontally center the contents */
    align-items: center;
    /* Vertically center the contents */
}

.outputimage--container {
    display: flex;
    justify-content: space-around;
    margin: 100px 50px;
}

.hiddeninput {
    display: none
}

;