.imagebox {
    max-width: 250px;
    max-height: 250px;
    min-width: 200px;
    min-height: 200px;
    border: 2px solid gray;
    text-align: center;
    border-radius: 5px;
    
}

.imagesection--container {}

.imageframe--container {
    display: flex;
    max-width: 700px;

    margin: auto;

}

.imagesection--header {
    text-align: center;
}

.process--button {
    height: 40px;
    width: 100px;
    margin: auto;
}